<div class="container mt-4">
  <div class="row">
    <div class="col-auto">
      <h1>To-Do List</h1>
    </div>
    <div class="col-auto align-self-center">
      <button (click)="clearAllTasks()" class="btn btn-danger">
        Delete All Tasks
      </button>
    </div>
  </div>

  <div class="row p-3">
    <div class="col m-0 g-0">
      <input class="fs-2" style="width: 100%" [(ngModel)]="newTask" />
    </div>
    <div class="col-auto align-self-center">
      <button (click)="saveTask()" class="btn btn-primary">📝</button>
    </div>
  </div>

  <!-- Create an element for each task; attaches an index number for the removeTask() function -->
  <div *ngFor="let task of tasks; index as i">
    <div class="row m-2">
      <div class="col-auto g-2 m-0 align-self-center">
        <div class="form-check">
          <input
            class="form-check-input border border-dark"
            type="checkbox"
            (click)="toggleCompleted(i)"
          />
        </div>
      </div>
      <div class="col g-2 m-0">
        <div id="task-{{ i }}" class="lead border border-dark rounded p-2 fs-2">
          {{ task }}
        </div>
      </div>
      <div class="col-auto g-2 m-0 align-self-center">
        <button (click)="removeTask(i)" class="btn btn-danger p-3">🗑️</button>
      </div>
    </div>
  </div>
</div>
